.btn {
  border: 2px solid transparent;
  border-radius: 2px;
  float: left;
  font-size: 12px;
  transition: .3s linear all;
}

.btn-blue {
  @extend .btn;
  background-color: $blue;

  &:hover {
    background-color: $white;
    border: 2px solid $blue;
    color: $blue;
  }
}

.btn-green {
  @extend .btn;

  &:hover {
    background-color: $white;
    border: 2px solid $green;
    color: $green;
  }
}

a:not(.btn, .navbar-brand, .nav-link, .v-list-item) {
  color: $ocean;
}

hr {
  border-top: 2px solid $lines-gray;
  height: 2px;
}
